@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 
@tailwind base;
@tailwind components;
@tailwind utilities;
 
* {
  font-family: 'Poppins', sans-serif;

}
 
html, body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;  
  @apply dark:bg-gray-900;
 
}

html {
  scroll-behavior: smooth;
}

 
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;   
  scrollbar-width: none;     
}